streamlit>=1.18
pandas
numpy
plotly
matplotlib
wordcloud
transformers
torch
Sastrawi
streamlit-option-menu
statsmodels
streamlit
pandas
gspread
google-auth-oauthlib
torch
transformers
wordcloud
plotly
scikit-learn

