streamlit
pandas
gspread
oauth2client
matplotlib
seaborn
wordcloud
openpyxl
scikit-learn
transformers
torch
qrcode[pil]
Pillow
streamlit
pandas
numpy
plotly
wordcloud
matplotlib
transformers
torch
Sastrawi
streamlit-option-menu
statsmodels

